{% extends "base.html" %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "detailed-posts.css" %}" />
{% endblock  %}

{% block title %} This Post Title {% endblock  %}

{% block content %}

    <header id="main-navigation">
        <h1><a href="{% url "index"%}"> Diana's Blog </h1>
        <nav><a href="{% url "all-posts"%}"> All Posts </nav>
    </header>

    <div class="images">
        <center><img src="{{ post.image.url }}" alt="{{ post.title }}" /></center>
    </div>
    <div class="content">
        <h3>{{post.title}}</h3>
        <p>{{post.description}}</p>
        <p>{{post.date}}</p>
        <p>{{post.location}}</p>
    </div>

{% endblock  %}

